<body>
    <center><h1>Prestamos</h1></center>
    <center><input type="submit"value="buscar"><input type="text"value="buscar el libro"></center>
<a href="historialBibliotecario.html"><input type="submit" value="historial"> </a> 
<br>
<br>
<center> 
<table border="2px">
<tr>
  <td><strong>Fecha</strong></td>
  <td><strong>Descripcion</strong></td>
  <td><strong>Codigo ejemplar</strong></td>
  <td><strong>Bibliotecario que hizo elprestamo </strong></td>
</tr>

<tr>
  <td>30/01/2020</td>
  <td>Pepito se fue  ala plaza</td>
  <td>001</td>
  <td>Andres Gozalo xd</td>
</tr>
</table>
</center>
</body>
